ion-header {
    box-shadow: none;
    border-width: 0px;
    border-bottom: none;
    background-color: #202020;
}

.notification-btn {
    position: relative;
    --padding-start: 0;
    --padding-end: 0;
    --padding-top: 0;
    --padding-bottom: 0;
    width: 40px;
    height: 40px;
}

.notification-btn ion-icon {
    font-size: 24px;
    color: orange;
}

.notification-badge {
    position: absolute;
    top: 2px;
    right: 2px;
    border-radius: 50%;
    min-width: 14px;
    height: 14px;
    font-size: 10px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #4ef2d2;
    color: black;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
}