<ion-header>
  <ion-toolbar mode="ios" color="#202020">
    <ion-title>
      <img src="../assets/icon/icon-usina.png" height="40">
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button size="small" fill="clear" class="notification-btn">
        <ion-icon name="notifications-circle-outline"></ion-icon>
        <ion-badge class="notification-badge"></ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>