ion-card {
    background: #222;
    border-radius: 12px;
    overflow: hidden;

}


.conteudos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

    ion-card {
        height: 150px;
    }
}

.card-imagem {
    position: relative;
    width: 80vw;
    max-width: 250px;
    height: 40vw;
    max-height: 250px;
    border-radius: 12px;
    background-size: cover;
    background-position: center;
    color: white;
    overflow: hidden;
    margin: auto;
}

.card-texto {
    position: absolute;
    bottom: 15px;
    left: 15px;
}

.card-texto .texto-pequeno {
    display: block;
    font-size: clamp(8px, 2vw, 12px);
    color: #f4b400;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: bold;
}

.card-texto h2 {
    margin: 0;
    font-size: clamp(10px, 3vw, 18px);
    font-weight: bold;
}

@media (min-width: 768px) {
    .conteudos {
        grid-template-columns: 1fr 1fr;
    }

    .card-imagem {
        width: 200px;
        height: 200px;
    }
}

@media (min-width: 1024px) {
    .conteudos {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .card-imagem {
        width: 250px;
        height: 250px;
    }
}

ion-button.small {
    --padding-start: 6px;
    --padding-end: 6px;
    --padding-top: 2px;
    --padding-bottom: 2px;
    --min-height: 28px;
    --border-radius: 12px;
    font-size: 12px;
    line-height: 16px;
}